<section>
  <div class="example-list" cdkDropList *ngIf="todoList.length > 0" (cdkDropListDropped)="onDrop($event)">
    <div class="example-box" *ngFor="let item of todoList" cdkDrag>{{item}}</div>
  </div>

  <!-- <cdk-drop (dropped)="onDrop($event)">
    <div *ngFor="let item of items" cdkDrag>{{item}}</div>
  </cdk-drop> -->

  <div cdkDrag>
    <p>Drop items here</p>
  </div>



  <h4 *ngIf="todoList.length == 0">Please add some items to the TO Do list</h4>

  <form name="todo-List">

    <div>
      <label>Enter an item for the To Do list </label>
      <input name="enterTodoItem" [(ngModel)]="todoListItem">
    </div>

    <input type="submit" value="add" (click)="add(todoListItem); todoListItem=''">

  </form>

  <button (click)="clear();">
    clear
  </button>
</section>