<p>
  db-character works!
</p>
<pre> {{characters | json }} </pre>

<div *ngFor="let character of characters">
  <div>{{character.name}}</div>
  <div>{{character.description}}</div>
  <div>{{character.isCool}}</div>
</div>


<form>
    <div>
      <pre>{{ characterName }}</pre>
        <label>Character Name:</label>
        <input [(ngModel)] = "characterName" type="text" name="Name">
    </div>
    
    <div>
        <pre>{{ description }}</pre>
        <label>Description:</label>
        <input [(ngModel)] = "description" type="text" name="Name">
    </div>
    
    <div>
        <pre>{{ isCool }}</pre>
        <label>Is this character cool?:</label>
        <input  [(ngModel)] = "isCool" type="radio" id="true" value="true" name="Is this character cool" checked />
        <label for="true">Yes</label>
        
        <input [(ngModel)] = "isCool" type="radio" id="false" value="false" name="Is this character cool" />
        <label for="false">No</label>
    </div>
    
    <button (click)="addCharacter(characterName, description, isCool)">Add Character</button>
</form>
