<input type="text" [(ngModel)]="characterFilter.name" placeholder="Type to filter by name">

<div class="row card-group">
    <div class="col-md-4" *ngFor="let character of characters | filterBy: characterFilter"> 
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://localhost:4000/{{character.characterImage}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{character.name}}</h5>
        <p class="card-text">{{character.description}}</p>
        <a routerLink="/db-character/{{character._id}}" class="btn btn-primary">Edit</a>
        <a (click)="deleteCharacter(character._id)" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(characters | filterBy: characterFilter).length === 0">
  There are no characters by that name.  Why don't you add one?!
</div>



<form>
    <div>
      <pre>{{ characterName }}</pre>
        <label>Character Name:</label>
        <input [(ngModel)] = "characterName" type="text" name="Name">
    </div>
    
    <div>
        <pre>{{ description }}</pre>
        <label>Description:</label>
        <input [(ngModel)] = "description" type="text" name="Name">
    </div>
    
    <div>
        <pre>{{ isCool }}</pre>
        <label>Is this character cool?:</label>
        <input  [(ngModel)] = "isCool" type="radio" id="true" value="true" name="Is this character cool" checked />
        <label for="true">Yes</label>
        
        <input [(ngModel)] = "isCool" type="radio" id="false" value="false" name="Is this character cool" />
        <label for="false">No</label>
    </div>

    <div>
      <label>Character Image</label>
      <input type="file" (change)="onFileSelected($event)">
    </div>
    
    <button (click)="addCharacter(characterName, description, isCool)">Add Character</button>
</form>
