<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h4>Add a new user or login</h4>
          <p>
              We're using this form for either signing up or loggin in. If you try to register a user that already exists you'll receive an error
          </p>
            <form>
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input [(ngModel)] = "email" id="email" type="text" name="Name" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input [(ngModel)] = "password" type="password" id="password" name="Name" class="form-control">
                </div>
      
                <div class="form-group margin-top-10">
                    <button class="btn btn-success" (click)="addUser(email, password)">Add User</button>
                </div>
      
                <div class="form-group margin-top-10">
                  <button class="btn btn-success" (click)="login(email, password)">Login</button>
              </div>
                
            </form>
        </div>
      </div>
</div>