<div class="container">
    <h1>{{characterDetail.name}}'s Detail Page</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://localhost:4000/{{characterDetail.characterImage}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{characterDetail.name}}</h5>
                <p class="card-text">{{characterDetail.description}}</p>
                <p *ngIf="characterDetail.isCool" class="card-text">This guy is cool</p>
                <p *ngIf="!characterDetail.isCool" class="card-text">This guy sucks</p>
                <a (click)="deleteCharacter(characterDetail._id)" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
        <pre>{{characterDetail | json }}</pre>
        <h4>Edit this character</h4>
            <form>
                <div class="form-group">
                    <label for="characterName">Character Name:</label>
                    <input [(ngModel)]="characterDetail.name" id="characterName" type="text" name="Name" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input [(ngModel)] = "characterDetail.description" type="text" id="description" name="Name" class="form-control">
                </div>
                
                <div class="form-group form-check">
                    <div>Is this character cool?:</div>
                    <div class="form-check form-check-inline">
                        <input  [(ngModel)] = "characterDetail.isCool" type="radio" class="form-check-input" id="true" value="true" name="Is this character cool" checked />
                        <label class="form-check-label" for="true">Yes</label>
                    </div>
    
                    <div class="form-check form-check-inline">
                        <input [(ngModel)] = "characterDetail.isCool" type="radio" class="form-check-input" id="false" value="false" name="Is this character cool" />
                        <label class="form-check-label" for="false">No</label>
                    </div>
                </div>
            
                <div class="custom-file">
                <input class="custom-file-input" type="file" (change)="onFileSelected($event)">
                <label class="custom-file-label">Character Image</label>
                </div>
    
                <div class="form-group margin-top-10">
                    <button class="btn btn-success" (click)="updateDetails(characterDetail.name, characterDetail.description, characterDetail.isCool)">Submit Changes</button>
                </div>
                
            </form>
        </div>

</div>