<pre>{{characterDetail | json }}</pre>
<h1>{{characterDetail.name}}'s Detail Page</h1>
<div class="row">
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://localhost:4000/{{characterDetail.characterImage}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{characterDetail.name}}</h5>
          <p class="card-text">{{characterDetail.description}}</p>
          <p *ngIf="characterDetail.isCool" class="card-text">This guy is cool</p>
          <p *ngIf="!characterDetail.isCool" class="card-text">This guy sucks</p>
          <a (click)="deleteCharacter(characterDetail._id)" class="btn btn-primary">Delete</a>
        </div>
      </div>
  </div>
  <div class="col-md-6">
      <form>
          <div>
            <pre>{{ characterDetail.name }}</pre>
              <label>Character Name:</label>
              <input [(ngModel)] = "characterDetail.name" type="text" name="Name">
          </div>
          
          <div>
              <pre>{{ characterDetail.description }}</pre>
              <label>Description:</label>
              <input [(ngModel)] = "characterDetail.description" type="text" name="description">
          </div>
          
          <div>
              <pre>{{ characterDetail.isCool }}</pre>
              <label>Is this character cool?:</label>
              <input  [(ngModel)] = "characterDetail.isCool" type="radio" id="true" value="true" name="Is this character cool" checked />
              <label for="true">Yes</label>
              
              <input [(ngModel)] = "characterDetail.isCool" type="radio" id="false" value="false" name="Is this character cool" />
              <label for="false">No</label>
          </div>
      
          <div>
            <label>Character Image</label>
            <input type="file" (change)="onFileSelected($event)">
          </div>
          
          <button (click)="updateDetails(characterDetail.name, characterDetail.description, characterDetail.isCool)">Submit Changes</button>
      </form>
      
  </div>
  
</div>

